<launch>
  <arg name="config_path" default="$(find air_slam)/configs/map_refinement/mr_euroc.yaml" />
  <arg name="map_root" default="/tmp/mh04_out" />
  <arg name="model_dir" default="$(find air_slam)/output" />
  <arg name="voc_path" default="$(find air_slam)/voc/point_voc_L4.bin" />
  <arg name="out_path" default="/tmp/mh04_bow.txt" />
  <node name="dump_bow" pkg="air_slam" type="dump_bow" output="screen">
    <param name="config_path" type="string" value="$(arg config_path)" />
    <param name="map_root" type="string" value="$(arg map_root)" />
    <param name="model_dir" type="string" value="$(arg model_dir)" />
    <param name="voc_path" type="string" value="$(arg voc_path)" />
    <param name="out_path" type="string" value="$(arg out_path)" />
  </node>
</launch>
